#app-grid {
    layout: grid;
    grid-size: 4;  /* Four columns */
    grid-columns: 1fr 1fr auto auto;
}

#sidebar {
    dock: left;
    width: 15%;
    height: 100%;
    color: #0f2b41;
    background: dodgerblue;
}

#method-list{
    height:100%;
    background: grey;
}

#text-window{
    height: 100%;
}

#text{
    height: 100%;
}
#help-text{
    height:50%;
}

#config{
    dock: right;
    width:15%;
    height: 100%;
}